<div>
  <div layout="column" flex ng-cloak class="md-inline-form">
    <md-data-table-toolbar ng-show="!selected.length">
      <h2 class="md-title"flex="20"><i class="fa fa-tasks"></i>Users</h2>
      <span flex></span>
      <md-button class="md-icon-button animated" ng-class="{zoomIn: !selected.length, zoomOut: selected.length}" ng-click="createUser()">
        <md-tooltip>Create user</md-tooltip>
        <md-icon md-svg-icon="/plugins/goriguard/assets/icons/create.svg"></md-icon>
      </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="selected.length" layout="row" layout-align="space-between center" aria-hidden="false">
      <h2>{{selected.length}} {{selected.length > 1 ? 'users' : 'user'}} selected</h2>
      <span flex></span>
      <md-button class="md-icon-button animated zoomIn" ng-show="selected.length >= 1"  ng-click="deleteUser()">
        <md-tooltip>Delete user</md-tooltip>
        <md-icon md-svg-icon="/plugins/goriguard/assets/icons/delete.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button animated zoomIn" ng-show="selected.length == 1" ng-click="editUser()">
        <md-tooltip>Edit user</md-tooltip>
        <md-icon md-svg-icon="/plugins/goriguard/assets/icons/settings.svg"></md-icon>
      </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar>
      <md-input-container flex>
        <label>Search by user name</label>
        <input ng-model="listQuery.query">
      </md-input-container>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="Created" order-by="created"></th>
            <th name="Firstname" order-by="firstname"></th>
            <th name="Lastname" order-by="lastname"></th>
            <th name="Email (username)" order-by="email"></th>
            <th name="Roles"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="user in itemsList.data track by user._id">
            <td>{{user._source.created}}</td>
            <td>{{user._source.firstname}}</td>
            <td>{{user._source.lastname}}</td>
            <td>{{user._source.email}}</td>
            <td>{{user._source.roles.join()}}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="listQuery.pageSize" md-page="listQuery.page" md-total="{{listQuery.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
  </div>
  </div>